{% extends "layout_t.html" %}

{% block additionalload %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block githubbanner %}
   <a id="github" href="https://github.com/crossbario" title="Fork us on GitHub"></a>
{% endblock %}


{% block content %}

   <div id="viewport">

      <div id="main" class="main">

         <div id="header">
            <div id="logo">
               <img src="{{ url_for('static', filename = 'img/gen/crossbar_icon_and_text_vectorized.svg') }}" class="cb_icon_and_text">
            </div>
            <div id="header-cta">
               Break away from the past.
            </div>

            <div id="tagline">
               Crossbar.io is a new open-source platform for building advanced applications
               better, quicker and with more fun!
            </div>
         </div>
         <br>

         <center>
<!--            
            <img width="500px" height="335px" src="{{ url_for('static', filename = 'img/lego_orig.jpg') }}">
            <div style="font-size: 18px; margin-top: 16px; font-weight: 300;">
            With Crossbar.io, you create apps from <i>application components</i>.<br>
            You write the components, Crossbar.io provides the glue.
            </div>
-->         
            <table id="taghead">
               <tr>
                  <td>
            <img width="400px" src="{{ url_for('static', filename = 'img/lego_orig.jpg') }}">
                  </td>
                  <td>
                     <p style="font-size: 24px; font-weight: 300;">
                        With Crossbar.io apps are built
                        from <i>application components</i>.
                     </p>
                     <p style="font-size: 24px; font-weight: 300;">
                        You write the components and Crossbar.io provides the glue.
                     </p>
                  </td>
               </tr>
            </table>
         </center>


         <div id="foowrapper">

            <table id="foo">
               <tr>
                  <td>
                     
                     <span style="font-size: 20px;">App Components ...</span>
   <!--                  
                     With Crossbar.io you create apps from
                     <i>application components</i> that:
                     Crossbar.io apps are built from <i>application components</i> that ...
   -->
                  </td>
                  <td>
                     <span style="font-size: 20px;">Your benefits:</span>
                  </td>
               </tr>
   <!--            
               <tr>
                  <td>
                     Crossbar.io apps are built from application components that ...
                  </td>
                  <td>
                  </td>
               </tr>

               structural coupling
               temporal coupling

               granularity
               Lego
               extend and evolve your app without breaking things
               evolve different parts of your app independently
               it pays off over time, you won't hit a wall

               tame complexity, even as your app grows
   -->
               <tr>
                  <td>
                     <div class="bullet">1</div>Are loosely coupled
                  </td>
                  <td>
                     <ul>
                        <li>
                           Develop with more agility, in particular when requirements change over time.
                        </li>
                        <li>
                           Incrementally development your apps.
                        </li>
                        <li>
                           Change your app by simply swapping in and out components.
                        </li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="bullet">2</div>Can be freely distributed across devices
                  </td>
                  <td>
                     <ul>
                        <li>
                           Scale your app by running components on different hosts.
                        </li>
                        <li>
                           Pick the best host to run a particular set of functionality
                        </li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="bullet">3</div>Can be written in different languages
                  </td>
                  <td>
                     <ul>
                        <li>
                           Choose the best language for a given part of your app.
                        </li>
                        <li>
                           Make all team members productive, no matter what language they know/prefer.
                        </li>
                        <li>
                           Use a single language for the full stack (e.g. JavaScript).
                        </li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="bullet">4</div>Can talk to each other without restrictions
                  </td>
                  <td>
                     <ul>
                        <li>
                           Put functionality where you need it - backends can call frontends when needed, not just vice versa.
                        </li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="bullet">5</div>Communicate in real-time
                  </td>
                  <td>
                     <ul>
                        <li>
                           UIs always show current information - no refresh, no polling.
                        </li>
                        <li>
                           Offer your users the reactive applications they want.
                        </li>
                     </ul>                  
                  </td>
               </tr>
            </table>

      </div>
      <br><br><br>

<!--

http://en.wikipedia.org/wiki/Lego#mediaviewer/File:Lego_Color_Bricks.jpg

"Lego Color Bricks" by Alan Chia - Lego Color Bricks. Licensed under Creative Commons Attribution-Share Alike 2.0 via Wikimedia Commons - http://commons.wikimedia.org/wiki/File:Lego_Color_Bricks.jpg#mediaviewer/File:Lego_Color_Bricks.jpg


"<a href="http://commons.wikimedia.org/wiki/File:Lego_Color_Bricks.jpg#mediaviewer/File:Lego_Color_Bricks.jpg">Lego Color Bricks</a>" by <a rel="nofollow" class="external text" href="http://www.flickr.com/people/13403905@N03">Alan Chia</a> - <a rel="nofollow" class="external text" href="http://www.flickr.com/photos/13403905@N03/2080281038/">Lego Color Bricks</a>. Licensed under <a title="Creative Commons Attribution-Share Alike 2.0" href="http://creativecommons.org/licenses/by-sa/2.0">CC BY-SA 2.0</a> via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a>.

-->

<!--
         <br><br><br><br><br><br><br>

         <div class="initial-explanation">
            <div class="text">
               <p>
                  Crossbar.io apps are built from application components that
               </p>
               <ul>
                  <li>
                     are loosely coupled
                  </li>
                  <li>
                     can be freely distributed across devices
                  </li>
                  <li>
                     can be written in different languages
                  </li>
                  <li>
                     can talk to each other without restrictions
                  </li>
                  <li>
                     communicate in real time
                  </li>
               </ul>

               <p>
                  Constructing applications from loosely coupled, polyglot components enables quick development and deployment. You can choose the best language for a particular task, distribute development for individual components, reuse components across projects, and easily extend functionality.
               </p>

               <p>
                  Crossbar.io is ideally suited for modern Web apps, and integrates well with many SPA frameworks and libraries such as AngularJS, KnockoutJS, ExtJS or React. It allows full-stack JavaScript development, but is much more versatile because of its polyglot nature: Applications can extend from browser frontends and native mobile clients down to embedded devices, served by backends composed across multiple servers and implemented in a mix of languages.
               </p>

            </div>
         </div>
-->

<!--

               Crossbar.io connects app components by providing <strong>Unified Application Routing</strong>.

               App components connect to Crossbar.io


               which will <i>route</i> all messages exchanged, and
               components can talk to each other using <strong>two communication patterns</strong>:

-->

         <div class="how-does-it-work">
            <h1>
               How does it work?
            </h1>

            <p>
               Application components connect to Crossbar.io and can then talk to each other using
               two patterns:
            </p>
            <ul>
               <li>
                  <a href="http://wamp.ws/faq/#rpc">Remote Procedure Calls</a>
               </li>
               <li>
                  <a href="http://wamp.ws/faq/#pubsub">Publish &amp; Subscribe</a>
               </li>
            </ul>
            <p>
               Crossbar.io provides the glue between application components by making sure
               messages are directed and transmitted to the right components ("message routing").
            </p>
            <p class="tip">
               Read more about <a href="">Unified Application Routing and WAMP</a> - the underlying technology.
            </p>

            <h2>Remote Procedure Calls</h2>
            <p>
               With the <strong>Remote Procedure Call</strong> pattern, any component can
            </p>
            <ul>
               <li>
                  <strong>Register</strong> a procedure that other components can call
               </li>
               <li>
                  <strong>Call</strong> procedures registered by other components
               </li>
            </ul>
            <p>
               Crossbar.io routes calls to the component that registered the respective procedure and
               returns the result to the caller:
            </p>

            <div class="pattern-illustration-container">
               <img src="{{ url_for('static', filename = 'img/gen/rpc_register.svg') }}" alt="RPC pattern - registering a procedure with the Crossbar.io router" class="pattern-illustration first">
               <img src="{{ url_for('static', filename = 'img/gen/rpc_call.svg') }}" alt="PRC pattern - calling a remote procedure and receiving the result, routed via Crossbar.io" class="pattern-illustration second">
            </div>

            <p>
               Remote Procedure Call is a <strong>1-to-1 communication pattern</strong> which involves
               the Caller, the Router (Crossbar.io) and the Callee.
            </p>


            <h2>Publish &amp; Subscribe</h2>
            <p>
               With the <strong>Publish &amp; Subscribe</strong> pattern, any component can
            </p>
            <ul>
               <li>
                  <strong>Subscribe</strong> to receive events published from other components
               </li>
               <li>
                  <strong>Publish</strong> events which other subscribed components will receive
               </li>
            </ul>
            <p>
               Crossbar.io routes event published to all components that have subscribed to receive events for the topic:
            </p>

            <div class="pattern-illustration-container">
               <img src="{{ url_for('static', filename = 'img/gen/pubsub_subscribe.svg') }}" alt="PubSub pattern - subscribing with Crossbar.io" class="pattern-illustration first">
               <img src="{{ url_for('static', filename = 'img/gen/pubsub_publish.svg') }}" alt="PubSub pattern - publishing to Crossbar.io, and Crossbar.io dispatching to subscribers" class="pattern-illustration second">
            </div>
            <p>
               Publish &amp; Subscribe is a <strong>1-to-many communication pattern</strong> which involves
               the Publisher, the Router (Crossbar.io) and Subscribers.
            </p>

         </div>

         <a id="show-me-some-code"></a>
         <h1>Show me some code!</h1>
         <div>
            <p>
               Here is what <strong>application components</strong> look like across the <strong>different languages</strong> supported by Crossbar.io
            </p>
            <div id="codeBlock">
               <div id="switchBar">
                  <div>
                     <div id="switchBarButtons" class="switchBarButtons">
                        <button data-selectlang="js" class="highlighted">
                           JavaScript
                        </button>
                        <button data-selectlang="python">
                           Python
                        </button>
                        <button data-selectlang="cpp">
                           C++
                        </button>
                        <button data-selectlang="php">
                           PHP
                        </button>
                     </div>
                  </div>
               </div>
               <div id="syntaxContainer" class="syntaxContainer">
                  <div id="code-js">
                     {% highlight 'javascript' %}{% include 'codebox/example.js' %}{% endhighlight %}
                  </div>
                  <div id="code-python" class="noShow">
                     {% highlight 'python' %}{% include 'codebox/example.py' %}{% endhighlight %}
                  </div>
                  <div id="code-cpp" class="noShow">
                     {% highlight 'cpp' %}{% include 'codebox/example.cpp' %}{% endhighlight %}
                  </div>
                  <div id="code-php" class="noShow">
                     {% highlight 'php' %}{% include 'codebox/example.php' %}{% endhighlight %}
                  </div>
               </div>
            </div>
         </div>

         <a id="use-cases"></a>
         <h1>Demos</h1>
         <div id="demoBox">
            <!-- <p>
               Crossbar.io is a good fit for ...
               WAMP is ideal for distributed, multi-client and server applications, such as multi-user database-driven business applications, sensor networks (IoT), instant messaging or MMOGs (massively multi-player online games).

               WebSocket is great for apps like chat, trading, multi-player games or real-time charts. It allows you to actively push information to clients as it happens.

               Further, WebSocket allows you to real-time enable your Web user interfaces: always current information without reloads or polling. UIs no longer need to be a boring, static thing. Looking for the right communication technology for your next-generation Web apps? Enter WebSocket.

               And WebSocket works great not only on the Web, but also as a protocol for wiring up the Internet-of-Things (IoT). Connecting a sensor or actor to other application components in real-time over an efficient protocol. Plus: you are using the same protocol to connect frontends like Web browsers.
            </p> -->

            <!-- <h2>Try out a demo</h2> -->

            <div class="demos-overview-link">
               <a href="https://demo.crossbar.io/">See all demos (7 total)</a>
            </div>
            
            
            <p class="direct-demos">
               or go directly to one of three randomly picked
            </p>

            <ul class="demos_list">

               <li class="nonDisplay">
                  <a href="https://demo.crossbar.io/demo/pubsub/index.html">
                     PubSub
                     <img src="{{ url_for('static', filename = 'img/screenshot_pubsub.png') }}" />
                  </a>
                  PubSub Functionality
               </li>

               <li class="nonDisplay">
                  <a href="https://demo.crossbar.io/demo/notification/index.html">
                     Notification
                     <img src="{{ url_for('static', filename = 'img/screenshot_notifications.png') }}" />
                  </a>
                  PubSub Functionality
               </li>

               <li>
                  <a href="https://demo.crossbar.io/demo/chat/index.html#ch1">
                     Chat
                     <img src="{{ url_for('static', filename = 'img/screenshot_chat.png') }}" />
                  </a>
                  PubSub Functionality
               </li>

               <li>
                  <a href="https://demo.crossbar.io/demo/gauges/index.html">
                     Gauges
                     <img src="{{ url_for('static', filename = 'img/screenshot_gauges.png') }}" />
                  </a>
                  PubSub Functionality
               </li>

               <li class="nonDisplay">
                  <a href="https://demo.crossbar.io/demo/sliders/index.html">
                     Sliders
                     <img src="{{ url_for('static', filename = 'img/screenshot_sliders.png') }}" />
                  </a>
                  PubSub Functionality, jQuery UI
               </li>

               <li class="nonDisplay">
                  <a href="https://demo.crossbar.io/demo/colorpicker/index.html">
                     Colorpicker
                     <img src="{{ url_for('static', filename = 'img/screenshot_colorpicker.png') }}" />
                  </a>
                  A colorpicker with real-time synchronization
               </li>

               <li class="nonDisplay">
                  <a href="https://demo.crossbar.io/demo/beatbox/index.html">
                     Beatbox
                     <img src="{{ url_for('static', filename = 'img/screenshot_beatbox.png') }}" />
                  </a>
                  PubSub Functionality
               </li>

            </ul>
         </div>

         <a id="where-to-start"></a>
         <h1>Where to go from here</h1>
         <div id="">
            <ul>
               <li>
                  Learn about <strong><a href="docs/Application-Scenarios/">application scenarios</a></strong> that Crossbar.io supports.
               </li>
               <li>
                  Find out about the <strong><a href="docs/Architecture/">application architectures</a></strong> that you can employ.
               </li>
               <li>
                  Get started quickly <strong><a href="docs/Quick-Start/">setting up Crossbar.io</a></strong>.
               </li>
               <li>
                  Start developing by  <strong><a href="docs/Choose-your-Weapon/">using an app template</a></strong> in your supported language of choice.
               </li>
               <li>
                  Read about <strong><a href="https://wamp.ws/why">WAMP</a></strong>, the protocol that Crossbar.io and application components use to connect to each other.
               </li>
            </ul>
         </div>

      </div>
   </div>

   <script>
      // randomly pick two of the existing demos for display

      // get all demo list elements into array
      var demosNodeList = document.querySelectorAll(".demos_list > li");
      var demosArray = [];
      // set all to display: none
      // and copy nodesList into real array with array methods
      for(var i = 0; i < demosNodeList.length; i++) {
         demosNodeList[i].classList.add("nonDisplay");
         demosArray[i] = demosNodeList[i];
      }

      // pick a number between one and the array length
      // display this element + remove from array
      function displayRandomDemo() {
         var d = Math.floor(Math.random() * demosArray.length);
         demosArray[d].classList.remove("nonDisplay");
         demosArray.splice(d, 1);
      }

      // pick the two demos
      displayRandomDemo();
      displayRandomDemo();
      displayRandomDemo();
   </script>

   <script>
      // set up the buttons for clicking
      var syntaxContainer = document.getElementById("syntaxContainer");
      var codeBlocks = syntaxContainer.children;
      var switchBarButtons = document.getElementById("switchBarButtons").children;
      var currentButton = null;
      var currentBlock = null;

      document.getElementById("switchBarButtons").addEventListener("click", function(evt) {
         console.log(evt);
         var target = evt.target;
         if (target.tagName = "BUTTON") {

            var selectedLanguage = target.attributes["data-selectlang"].value;
            console.log("select language " + selectedLanguage);

            // highlight the newly selected button
            // and iterate over the switch bar buttons to remove the previous highlighting
            target.classList.add("highlighted");
            for (var b = 0; b < switchBarButtons.length; b++) {
               currentButton = switchBarButtons[b];
               if (currentButton.attributes["data-selectlang"].value != selectedLanguage && currentButton.classList.contains("highlighted")) {
                  currentButton.classList.remove("highlighted");
               }
            }

            // iterate over the code containers and switch the display state
            for (var i = 0; i < codeBlocks.length; i++) {
               currentBlock = codeBlocks[i];
               if (currentBlock.id === "code-" + selectedLanguage && currentBlock.classList.contains("noShow")) {
                  currentBlock.classList.remove("noShow");
               } else if (currentBlock.id != "code-" + selectedLanguage && !currentBlock.classList.contains("noShow")) {
                  currentBlock.classList.add("noShow");
               }
            }
         }

      })

   </script>

{% endblock %}
