<!doctype html>
<html class="no-js">
   <head>
      <meta charset="utf-8" />
      <title>Crossbar.io Unified Application Router</title>

      <!-- disabling the below yields zoomed-out full display on mobile devices, but prevents the navbar from collapsing -->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
      <meta name="viewport" content="initial-scale=1.0">
      <!-- <meta name="viewport" content="width=480"> -->

      <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">

      <!-- Modernizr -->
      <script src="{{ url_for('static', filename = 'deps/modernizr.custom.svg.fontface.vw.media.js') }}"></script>

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'deps/bootstrap/bootstrap.min.css') }}" />

      <link rel="stylesheet" type="text/css" href="{{ session['cstatic'] }}/css/tavendo.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/crossbar.css') }}" />

      <!-- pygments styling -->
      <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/code.css') }}"> -->
      <link rel="stylesheet" type="text/css" href="{{ session['cstatic'] }}/css/code.css">

      {% if not session["no_network"] %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-23019220-6', 'crossbar.io');
        ga('send', 'pageview');
      </script>
      {% endif %}

      {% block subheader %}{% endblock %}
   </head>

   <body>
      <!--[if lt IE 9]>

         <div id="ltIE9">

      <![endif]-->

      <div id="wrap">

         <!-- Fixed navbar -->
         <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">

               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>

               <a class="navbar-brand" href="/">
                  <img src="{{ session['cstatic'] }}/img/gen/crossbar_icon_inverted.svg" alt="crossbar graphic logo inverted" width="30" height="30">

                  <img src="{{ session['cstatic'] }}/img/gen/crossbar_name_lighter.svg" alt="crossbar text logo" width="128" height="20">

               </a>

            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">

               <ul class="nav navbar-nav">

                  <li {% if session['tab_selected'] == 'page_home' %} class="active" {% else %} class="" {% endif %}>
                     <a href="{{ url_for('page_home') }}">
                        Home
                     </a>
                  </li>
                  <li {% if session['tab_selected'] == 'page_docs' %} class="active" {% else %} class="" {% endif %}>
                     <a href="{{ url_for('page_docs') }}">
                        Documentation
                     </a>
                  </li>

                  <!-- external links -->
                  <li class="external first">
                     <a href="https://github.com/crossbario/crossbar/">
                        Source Code
                        <img src="{{ url_for('static', filename = 'img/gen/link_external.svg') }}" alt="external link">
                     </a>
                  </li>
                  <li class="external">
                     <a href="https://demo.crossbar.io/">
                        Demos
                        <img src="{{ url_for('static', filename = 'img/gen/link_external.svg') }}" alt="external link">
                     </a>
                  </li>
               </ul>
             </div>
         </nav>

         <noscript>
            <div>
               <p>
                  This site requires JavaScript.
               </p>
            </div>

         </noscript>

         <!-- community widget iframe -->
         {% if session["widgeturl"] %}
         <!-- add community widget -->
         <div id="widgetAnchor"></div>
         <script src="{{ session["widgeturl"] }}/js/communitywidget.js"></script>
         <script>
         if (window.clandeck) {
               clandeck.create_widget({community: "tavendo", topOffset: "37px"});
         }
         </script>
         {% else %}
         <!-- Community Widget stripped! -->
         {% endif %}

         <!-- block for the github banner -->
         <!-- {% block githubbanner %}{% endblock %} -->

         {% macro crossbar() -%}
            <a href="http://crossbar.io/" class="crossbarLink">
               <span class="crossbar">
                  <span>Crossbar</span><span>.io</span>
               </span>
            </a>
         {%- endmacro %}

         <div id="container">

            <!--block for the page content-->
            {% block content %}{% endblock %}

         </div>

      </div>

      <div id="footer">
        <!--  <div id="fallbackPage">
            <p>
               Trouble with displaying the images on this page correctly?
            </p>
            <p>
               We use SVG (Scalable Vector Graphics) for our graphics. These can be viewed at any zoom level, but not all browsers display correctly yet.
            </p>
            <p>
               We also offer a page which replaces these with bitmap images.
            </p>
         </div> -->
         <!--
         <div style="width: 80%; margin: 2em auto 1em auto; padding-top: 0.3em; border-top: 1px solid #ccc;">
         -->
            Copyright &copy; 2013-2014, The Crossbar.io project and contributors.
            Content licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons CC-BY-SA</a> and demo code lincensed under the <a href="http://opensource.org/licenses/MIT">MIT license</a>. Crossbar.io itself is licensed under the <a href="http://opensource.org/licenses/AGPL-3.0">AGPL 3.0</a>.
            "Crossbar.io" and the Crossbar.io logo are trademarks of <a href="http://www.tavendo.com">Tavendo</a>.
            <a href="{{ url_for('page_impressum') }}">Anbieterkennzeichnung</a> nach deutschem Recht.
         <!--</div>-->
      </div>

   <!--[if lt IE 9]>

      </div>

   <![endif]-->


      <a id="manifesto" href="http://www.reactivemanifesto.org/">
      <!-- <img src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-black-right.png"> -->
        <img src="{{ session['cstatic'] }}/img/gen/we_are_reactive.svg" height="144" width="144" alt="Reactive Manifesto: We are reactive banner"/>
      </a>



      <!-- enable basic media queries on older browsers -->
      <!--[if lt IE 9]>
           <script src="{{ url_for('static', filename = 'deps/respond.min.js') }}"></script>
       <![endif]-->

      <!-- yahoo browser detect for some corner cases -->
      <script src="{{ url_for('static', filename = 'deps/yahooBrowserDetect.js') }}"></script>

      <script type="text/javascript">
         // SVG vs. PNG detection and switching

         if(!Modernizr.svg) {
            // switch out all SVGs for PNGs on unsupported browsers
            // loads both SVG + PNG on these, but then it's only a fallback
            // for some cases
            switchToPNG();
         }
         // Android browser does very badly with SVG, so switch to PNG for this
         if(YAHOO.env.ua.android != 0 && YAHOO.env.ua.chrome === 0) {
            // alert("android browser!"  + YAHOO.env.ua.chrome);
            switchToPNG();
            var html= document.getElementsByTagName("html");
            // needed for the CSS background image switching which is based on the Modernizr classes
            $(html).removeClass("svg").addClass("no-svg");
         }

         // check if forceSwitchToPNG is present in link fragment identifier
         var forceSwitchToPNG = false,
             pageURL = window.location.href;
         if(pageURL.indexOf('#') !== -1) {
            var hashPart = pageURL.split('#')[1];
            if(hashPart === "forceSwitchToPNG") {
               forceSwitchToPNG = true;
            }
         }
         if(forceSwitchToPNG === true) {
            switchToPNG();
            var html= document.getElementsByTagName("html");
            // needed for the CSS background image switching which is based on the Modernizr classes
            $(html).removeClass("svg").addClass("no-svg");
         }

         function switchToPNG () {
            // get all img elements on the page
            // and replace any SVGs with PNGs
            // requires that SVG & PNGs exist at the same path
            // with only different file extensions

            var imgLinks = document.getElementsByTagName("img"),
                imgLinksLength = imgLinks.length;

            for(var i = 0; i < imgLinksLength; i++ ) {
               var cur = imgLinks[i],
                   curLink = cur.src,
                   curLinkType = curLink.split(".").pop(),
                   curLinkBase = curLink.slice(0, curLink.lastIndexOf(".")),
                   newLink;

               if(curLinkType === "svg") {
                  newLink = curLinkBase + ".png";
                  cur.src = newLink;
               }

            }
         }

         /* JS part of fix for IE10/WP8 viewport width reporting problem */
         /* http://getbootstrap.com/getting-started/#browsers */
         if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
           var msViewportStyle = document.createElement("style")
           msViewportStyle.appendChild(
             document.createTextNode(
               "@-ms-viewport{width:auto!important}"
             )
           )
           document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
         }

      </script>

      <!-- jQuery is needed for bootstrap navbar to work in collapsed state -->
      {% if not session["no_network"] %}
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      {% else %}
      <script src="{{ url_for('static', filename = 'deps/jquery-1.10.2.min.js') }}"></script>
      {% endif %}
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ url_for('static', filename = 'deps/bootstrap/bootstrap.min.js') }}"></script>

      <script src="{{ url_for('static', filename = 'js/crossbar.js') }}"></script>

      <!-- <script src="{{ url_for('static', filename = 'js/cbtrack.js') }}"></script> -->

      {% block additionalload %}{% endblock %}

   </body>
</html>
