{% extends "layout_t.html" %}

{% block content %}


<div class="maincontent">

   <h1>
      How to contribute to the project
   </h1>

   <h2>
      Fork us on GitHub
   </h2>

   <p>
      The code for {{crossbar()}} is on GitHub, and we use the Fork &amp; Pull Model.
   </p>
   <p>
      This means that you fork the repo, make changes to your fork, and then make a pull request on the main repo.
   </p>
   <p>
      This <a href="https://help.github.com/articles/using-pull-requests">article on GitHub</a> gives more detailed information on how the process works.
   </p>

   <h2>
      Sign the Contributor License Agreement (CLA)
   </h2>

   <p>
      Before you can contribute any non-trivial changes to the Crossbar.io project, we need a CLA (Contributor  License Agreement) from you.
   </p>
   <p>
      The CLA gives us the necessary rights to distribute the project code and documentation, and indemnifies us against legal attacks.
   </p>
   <p>
      The CLA closely follows a template established by the <a href="http://harmonyagreements.org/">Harmony project</a>, and CLAs are required by almost all open source projects which are non-trivial in scope.
   </p>

   <h3>
      What we need you to do:
   </h3>

   <ol>
      <li>
         Download the <a href="/static/docs/crossbar_io_cla.pdf" target="_blank">CLA (PDF)</a>.
         <!-- reference to our folder structure - ugly, FIXME! -->
      </li>
      <li>
         Fill in the required information that identifies you and sign the CLA.
      </li>
      <li>
         Scan it to PNG, JPG or TIFF (or take a good quality photo).
      </li>
      <li>
         Email the scan to <span class="underline">service (at) tavendo.de</span> with the subject line "Crossbar.io project contributor license agreement"
      </li>
   </ol>

   <p>
      You only need to do this once - all future contributions are covered!
   </p>

   <p>
      We are looking into a fully electronic workflow to get legally binding CLAs, but due to how different legislations handle electronic signing, we currently see no other way.
   </p>

   <p>
      Sorry for the inconvenience!
   </p>

   <h3>
      What the CLA means:
   </h3>

   <ul>
      <li>
         You keep all rights in your contribution and are free to do what you want with it outside of the project.
      </li>
      <li>
         We get the right to do what we want with your contribution as part of the project - but not outside of it!
      </li>
      <li>
         If we add your contribution to the project, we agree to distribute it under the license which applied at the time you submitted your contribution (i.e. the AGPL 3.0 at the time of writing).
      </li>
   </ul>
   <p>
      This means that your contribution will be distributed as open source, and remain so. Everybody gets access to what you contribute.
   </p>
   <p>
      It also means that we can distribute the project under other licenses. This includes commercial closed source. Having another license does not change anything in your ability to use the code under the AGPL 3.0.
   </p>
   <p>
      For a more detailed explanation of what particular parts of the CLA mean, the Harmony website has a  <a href="http://www.harmonyagreements.org/guide.html">good walkthrough</a>.
   </p>

</div>

{% endblock %}
