{% extends "layout_t.html" %}

{% block additionalload %}

   <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">

{% endblock %}

{% block content %}

<div class="maincontent textpage">

   <h1>
      Frequently Asked Questions
   </h1>

   <div class="faq">

      <h2>
         What is the relationship between WAMP, Autobahn and Crossbar.io?
      </h2>

      <div>
         <ul>
            <li>
               <strong><a href="http://wamp.ws/">WAMP</a></strong> is an open source protocol which provides RPC and PubSub messaging patterns.
            </li>
            <li>
                The <strong><a href="http://autobahn.ws/">Autobahn project</a></strong> provides WAMP implementations in multiple languages.
            </li>
            <li>
               <strong>Crossbar.io</strong> builds on Autobahn|Python, one of the Autobahn projects, and provides a much larger set of functionality to make it into a powerful router for application messaging.
            </li>
         </ul>
         <p>In more detail:</p>
         <p>
            <strong>WAMP (Web Application Messaging Protocol)</strong> is a protocol which provides both Remote Procedure Calls (RPC) and Publish & Subscribe (PubSub) messaging patterns. All clients can be both publishers and subscribers, callers of remote procedures and offer remote procedure endpoints. A WAMP router connects the clients.
            <br>
            WAMP enables distributed, multi-client and server applications. It is an open protocol, and several independent implementations exist.
            <br>
            WAMP has WebSocket as a preferred transport.
         </p>
         <p>
            The <strong>Autobahn project</strong> provides open-source WebSocket and WAMP implementations for several programming languages. WAMP implementations are for client roles implementations, with the exception of Autobahn|Python, which includes basic router capabilities.
         </p>
         <p>
            <strong>Crossbar.io</strong> builds on Autobahn|Python. It adds the full set of advanced WAMP router functionality, as well as things like an integrated Web server, hosting of application components or support for various authentication methods.
            <br>
            Applications developed with Crossbar.io can use any WAMP client library. This, obviously, includes the Autobahn libraries.
         </p>

      </div>

      <h2>
         What does Crossbar.io's open-source license mean for me when I use it for a project?
      </h2>

      <div>
         <p>
            The license (<a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL v3</a>) does not have any effect on your application.
         </p>
         <p>
            The APGL only affects code which is joined to a AGPL licensed project, i.e. the Crossbar.io code in this case.
         </p>
         <p>
            When using Crossbar.io for an application, your application code just sends and receives WAMP messages, which Crossbar.io routes. This does not join your code to the code of Crossbar.io.
         </p>
         <p>
            Your code remains yours, and you can license it in whichever way you want.
         </p>
      </div>

      <h2>
         Can I hack Crossbar.io to fit my own needs?
      </h2>

      <div>
         <p>
            Like all open source licenses, the <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a> gives you the right to modify the code: to fix bugs, optimize things, add features, or anything else you need or feel like doing.
         </p>
         <p>
            When you modify Crossbar.io, then you need to provide access for others to your modified code if
         </p>
         <ul>
            <li>
               you distribute the modified code to any third party
            </li>
            <li>
               you run the modified code on a server accessible to any third party
            </li>
         </ul>
         <p>
            A 'third party' would usually be anybody else but you. An exception is when you are working for a company - use purely inside the company does not trigger the requirement to provide access to your code.
         </p>
         <p>
            What this means is that you cannot use Crossbar.io as the basis for developing closed source software (except for when you are its only user).
         </p>
      </div>

      <h2>
         I want to contribute to Crossbar.io - what do I need to do?
      </h2>

      <div>
         <p>
            There are <a href="{{ url_for('page_contribute') }}">full instructions for how to contribute</a>.
         </p>
         <p>
            The short version:
         </p>
         <p>
            Crossbar.io is hosted on GitHub, so you need to be familiar with the git development model.
         </p>
         <p>
            Additionally, before we can accept your first contribution, you need to sign a <a href="">Contributor Assignment Agreement (CAA)</a> and mail this to us.
         </p>
         <p>
            This is needed in order for the Crossbar.io project to have all necessary rights to the code, e.g. to be able to switch licenses in the future.
         </p>
      </div>

<!--       <h2>
         I have a question about Crossbar.io - where do I ask it?
      </h2>
 -->

   </div>

</div>



{% endblock %}
