{% extends "layout_t.html" %}

{% block additionalload %}

   <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">

{% endblock %}

{% block content %}

<div class="maincontent textpage">

   <h1>
      Frequently Asked Questions
   </h1>

   <dl class="faq">

      <dt>
         What is the relationship between WAMP, Autobahn and Crossbar.io?
      </dt>

      <dd>
         <ul>
            <li>
               WAMP is an open source protocol which provides RPC and PubSub messaging patterns.
            </li>
            <li>
                The Autobahn project provides WAMP implementations in multiple languages.
            </li>
            <li>
               Crossbar.io builds on Autobahn|Python and provides a much larger set of functionality to make it into a powerful router for application messaging.
            </li>
         </ul>
         <p>In more detail:</p>
         <p>
            <strong>WAMP (Web Application Messaging Protocol)</strong> is a protocol which provides both Remote Procedure Calls (RPC) and Publish & Subscribe (PubSub) messaging patterns. WAMP enables distributed, multi-client and server applications. It is an open protocol, and several independent implementations exist.
         </p>
         <p>
            The <strong>Autobahn project</strong> provides open-source WAMP implementations for several programming languages (at the moment: Python, JavaScript, C++). These are WAMP client implementations, with the exception of Autobahn|Python, which includes basic router capabilities.
         </p>
         <p>
            <strong>Crossbar.io</strong> builds on Autobahn|Python. It adds the full set of advanced WAMP router functionality, as well as things like an integrated Web server, hosting and centralized managemeent of application components or support for various authentication methods.
         </p>
         <p>
            Applications developed with Crossbar.io can use any WAMP client library. This, obviously, includes the Autobahn libraries.
         </p>

      </dd>

      <dt>
         What does Crossbar.io's open-source license mean for me when I use it for a project?
      </dt>

      <dd>
         <p>
            The license (<a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL v3</a>) does not have any effect on your application.
         </p>
         <p>
            The APGL only affects code which is joined to a AGPL licensed project, i.e. the Crossbar.io code in this case.
         </p>
         <p>
            When using Crossbar.io for an application, your application code just sends and receives WAMP messages which Crossbar.io routes. This does not join your code to the code of Crossbar.io.
         </p>
         <p>
            Your code remains yours, and you can license it in whichever way you want.
         </p>
      </dd>

      <dt>
         Can I hack Crossbar.io to fit my own needs?
      </dt>

      <dd>
         <p>
            Like all open source licenses, the AGPL gives you the right to modify the code: to fix bugs, optimize things, add features, or anything else you need or feel like doing.
         </p>
         <p>
            When you modify Crossbar.io, then your modifications fall under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a> if
         </p>
         <ul>
            <li>
               you distribute the modified code to a third party
            </li>
            <li>
               you run the modified code on a server accessible to a third party
            </li>
         </ul>
         <p>
            A 'third party' would usually be anybody else but you, except for when you are working for a company - use purely inside the company does not trigger the AGPL.
         </p>
         <p>
            In these cases, you need to provide access to your modified code - and do so under the conditions of the AGPL.
         </p>
         <p>
            What this means is that you cannot use Crossbar.io as the basis for developing closed source software (except for when you are its only user).
         </p>
      </dd>

      <dt>
         I want to contribute to Crossbar.io - what do I need to do?
      </dt>

      <dd>
         <p>
            There are <a href="{{ url_for('page_caa') }}">full instructions for how to contribute</a>.
         </p>
         <p>
            The short version:
         </p>
         <p>
            Crossbar.io is hosted on GitHub, so you need to be familiar with the git development model. (If not, you can start by taking <a href="http://try.github.io/levels/1/challenges/1">this little course</a> for free).
         </p>
         <p>
            Additionally, before we can accept your first contribution, you need to sign a <a href="">Contributor Assignment Agreement (CAA)</a> and mail this to us.
         </p>
         <p>
            This is needed in order for the Crossbar.io project to have all necessary rights to e.g. to switch licenses in the future.
         </p>
      </dd>

   </dl>

</div>



{% endblock %}
