/*@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
   font-family: 'Open Sans Light';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
   font-family: 'Play';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/Play-Regular.ttf');
}

@font-face {
   font-family: 'Play Bold';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/Play-Bold.ttf');
}*/

/* Open Sans */
/* not currently used on the Tavendo website, but can be left in
since the browser only downloads the resources on encountering
the font in use */

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Regular_emb.ttf');
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Bold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Italic.ttf');
   font-style: italic;
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-BoldItalic.ttf');
   font-style: italic;
   font-weight: bold;
}


/* Play */
@font-face {
   font-family: 'Play';
   src: url('../fonts/Play-Regular.ttf');
}
@font-face {
   font-family: 'Play';

   src: url('../fonts/Play-Bold.ttf');
   font-weight: bold;
}


/* Source Sans Pro */

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Regular.ttf');
   font-weight: normal;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Italic.ttf');
   font-weight: normal;
   font-style: italic;
}


@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Bold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-BoldItalic.ttf');
   font-weight: bold;
   font-style: italic;
}

/*
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Semibold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-SemiboldItalic.ttf');
   font-weight: bold;
   font-style: italic;
}
*/

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Light.ttf');
   font-weight: 300;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-LightItalic.ttf');
   font-weight: 300;
   font-style: italic;
}


/* Montserrat */

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-Regular.ttf');
   font-weight: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-Bold.ttf');
   font-weight: bold;
}




/* Segoe UI */
/* define here for used weights & styles so that
font-weight & style declarations work for this + the fallback
web font */

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI');
   font-weight: normal;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Italic');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Bold');
   font-weight: bold;
}
@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Bold Italic');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Light');
   font-weight: 300;
}




/* CSS part of fix for IE10/WP8 viewport width reporting problem */
/* http://getbootstrap.com/getting-started/#browsers */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   /* color: #666; */
   background-color: #ececec;

            background-color: #FCFCFC;
            color: #333;

   /*font-family: 'Open Sans', sans-serif;*/
   /*font-family: 'Segoe UI','Open Sans',sans-serif;*/
   font-family: 'Source Sans Pro', 'sans-serif';
   font-size: 16px;
}

/*
:hover {
color: #E4C904;
}
a:visited {
color: #b59f00;
*/


p, ul, ol {
   line-height: 1.5;
}

b, strong {
   font-weight: 600;
}

a {
   color: #b59f00;
}

a:visited {
   color: #b59f00;
}

a:hover {
   color: #E4C904;
}



/*
  Vertical centering .. again;)
  http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
 */

/*#viewport {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
}

#main {
  width: 940px;
  height: 800px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#footer {
   margin-top: 100px;
   font-size: 13px;
   color: #999;
}
*/
#footer > a {
   color: #999;
}

#footer > a:visited {
   color: #999;
}


/* Sticky footer styles
-------------------------------------------------- */
/* need to adapt this to a responsive solution */
/* see the one used on the new tavendo website - FIXME */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* The html and body elements cannot have any padding or margin. */
  position: relative;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 90px;
  padding: 0 0 20px 0;
}

/* the page content container */
#container {
    padding: 0 0 57px 0;

    position: relative;
    margin: 0 auto;
    /*width: 960px;*/
    max-width: 960px;
}



/* navbar stylings */

.navbar-brand > span {
   font-size: 21px;
   position: relative;
   top: 2px;
}

.navbar-brand > span > span:first-of-type {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  color: rgb(162, 162, 162);
  padding: 0 0 0 6px;
}
.navbar-brand > span > span:last-of-type {
  font-family: 'Play', sans-serif;
  color: rgb(240, 240, 240);
}

#wrap .navbar {
  min-height: 40px;
}

#wrap .navbar-nav > li > a {
  padding: 10px 15px;
}

#wrap .navbar-brand {
    padding: 6px 10px 0 20px;

}

#wrap .nav.navbar-nav .active a {
  color: #FFE000;
}


#wrap .navbar-toggle {
    padding: 5px 6px;

    margin-top: 6px;
    margin-right: 10px;
}

.navbar li.last {
   margin-right: 5em;
}

.nav .external {
   background-color: #222;
}
.nav li.external.first {
   margin-left: 0em;
}

#wrap .nav .external > a,
#wrap .nav .external > a:visited {
   color: #EBEBEB;
}

.nav .external:hover {
   /*background-color: #fff;*/
}
#wrap .nav .external > a:hover {
   color: #FF9651;
}

.clearBoth {
   clear: both;
}
.nonDisplay {
   display: none;
}


#crossbarNameHeader {
    width: 123px;

}


/* adjust expand point for navbar to go with more content */
/* http://stackoverflow.com/a/20249415/1077987*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/* noscript alert */
noscript {

}

noscript > div {
    width: 80%;

    max-width: 960px;
    margin: 0 auto;
    padding: 13px 33px;
    border: 1px solid rgb(240, 203, 9);
    border-radius: 6px;
    background-color: #F3F0D1;
    font-size: 13px;
}

noscript > div > p {

}


/* display the crossbar.io icon + name correctly formatted */

.crossbarWithIcon {
   position: relative;
   text-decoration: none;
}
.crossbarWithIcon > img {
   width: 1em;
   height: 1em;
   position: relative;
   bottom: 0.1em;
   margin-left: 0.3em;
}

#crossbarLandingHeader > span {
   margin-right: -0.2em;
}

.crossbarLink {
   text-decoration: none;
   padding-right: 0;
   margin-right: 0;
}

.crossbarLink:hover {
   text-decoration: underline;
   color: #6f6f6f;
}

.crossbar {
   font-family: "Play";
   font-size: 1em;
   padding-right: 0;
   margin-right: 0;
}

.crossbar > span {
   font-weight: normal;
   color: #888;
}
.crossbar > span:first-child {
   font-weight: bold;
   color: #1a1a1a;
}

.orange .crossbar > span {
   font-weight: normal;
   color: #eee;
}
.orange .crossbar > span:first-child {
   font-weight: bold;
   color: #444444;
}


/* heading styles */
/*
h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.5em;
   margin-top: 2em;
}

h3 {
   font-size: 1.2em;
}
*/

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h4 { font-size: 1em; margin: 1.12em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }


h1 {
   font-size: 2em;
   margin: 1.2em 0 .67em;
   font-family: 'Source Sans Pro', 'sans-serif';
   font-weight: 300;
   color: #7c6a00;
}

h2 {
   font-size: 1.5em;
   margin: 1.4em 0 .75em;
   font-family: 'Source Sans Pro', 'sans-serif';
   font-weight: 300;
   color: #7c6a00;
}

h3 {
   font-size: 1.17em;
   margin: 1.3em 0 .83em;
   font-family: 'Source Sans Pro', 'sans-serif';
   font-weight: 300;
   color: #574b00;
   border-bottom: solid 1px rgba(124,106,0,0.3);
}

h4 {
   font-size: 1em;
   margin: 1.12em 0;
   font-family: 'Source Sans Pro', 'sans-serif';
   font-weight: 600;
   color: #666;
}



.maincontent {
   width: 90%;
   max-width: 960px;
   margin: 0 auto;
   margin-top: 62px;
}

.maincontent.textpage {
    max-width: 800px;
    padding-left: 5px;
}

.maincontent.textpage p,
.maincontent.textpage dd,
.maincontent.textpage ul,
.maincontent.textpage ol {
    /*margin: 0 0 1em 2em;*/
    width: 100%;
}

.underline {
   text-decoration: underline;
}



/* Community widget styles */

#communityWidget {
   position: fixed;
   top: 5px;
   right: 5px;
   width: 180px;
   height: 38px;
   background-color: #fff;
   z-index: 1000;
   box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
}

#communityWidget.max {
   width: 300px;
   height: 400px;
}


.underDevelopment {
    color: #CA5100;
    font-weight: bold;
}

span.underDevelopment {

}

.sl .underDevelopment {
   border: 1px solid #999;
    padding: 0.2em 0.4em;
}

.underConsideration {

}

.partiallyImplemented {
    color: #007200;

    font-weight: bold;
}

span.partiallyImplemented {

}
