/* CSS part of fix for IE10/WP8 viewport width reporting problem */
/* http://getbootstrap.com/getting-started/#browsers */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



body {
   background-color: #f5f5f5;
   color: #333;
}

code, kbd, pre, samp, span.pre {
   font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Courier New', monospace;
   font-size: 13px;
}

p {
   line-height: 1.5em;
}

b, strong {
   font-weight: 600;
}

a {
   color: #b59f00;
}

a:visited {
   color: #b59f00;
}

a:hover {
   color: #E4C904;
}


/* Sticky footer styles
-------------------------------------------------- */
/* need to adapt this to a responsive solution */
/* see the one used on the new tavendo website - FIXME */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* The html and body elements cannot have any padding or margin. */
  position: relative;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
/*
#footer {
  height: 90px;
  padding: 0 0 20px 0;
}
*/

/* the page content container */
#container {
    padding: 0 0 57px 0;

    position: relative;
    margin: 0 auto;
    /*width: 960px;*/
    max-width: 960px;
    width: 90%;
    max-width: 1200px;
}



/* navbar stylings */

.navbar {

}

.navbar-brand > span {
   font-size: 21px;
   position: relative;
   top: 2px;
}

#wrap .navbar {
  min-height: 40px;
  margin-bottom: 0;
}

#wrap .navbar-nav > li > a {
  padding: 10px 15px;
}

#wrap .navbar-brand {
    padding: 6px 60px 0 20px;
}

#wrap .nav.navbar-nav .active a {
  color: #FFE000;
  color: #fff;
}


#wrap .navbar-toggle {
    padding: 5px 6px;

    margin-top: 6px;
    margin-right: 10px;
}

.navbar li.last {
   margin-right: 5em;
}

.nav .external {
   background-color: #222;
}
.nav li.external.first {
   margin-left: 0em;
}

#wrap .nav .external > a,
#wrap .nav .external > a:visited {
   color: #EBEBEB;
   color: #aaa;
}

.nav .external:hover {
   /*background-color: #fff;*/
}
#wrap .nav .external > a:hover {
   color: #FF9651;
   color: #FFE000;
   color: #fff;
}

.clearBoth {
   clear: both;
}
.nonDisplay {
   /* display: none; */
}


#crossbarNameHeader {
    width: 123px;

}


/* adjust expand point for navbar to go with more content */
/* http://stackoverflow.com/a/20249415/1077987*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/* noscript alert */
noscript {

}

noscript > div {
    width: 80%;

    max-width: 960px;
    margin: 0 auto;
    padding: 13px 33px;
    border: 1px solid rgb(240, 203, 9);
    border-radius: 6px;
    background-color: #F3F0D1;
    font-size: 13px;
}

noscript > div > p {

}


/* display the crossbar.io icon + name correctly formatted */

.crossbarWithIcon {
   position: relative;
   text-decoration: none;
}
.crossbarWithIcon > img {
   width: 1em;
   height: 1em;
   position: relative;
   bottom: 0.1em;
   margin-left: 0.3em;
}

#crossbarLandingHeader > span {
   margin-right: -0.2em;
}

.crossbarLink {
   text-decoration: none;
   padding-right: 0;
   margin-right: 0;
}

.crossbarLink:hover {
   text-decoration: underline;
   color: #6f6f6f;
}

.crossbar {
   font-family: "Play";
   font-size: 1em;
   padding-right: 0;
   margin-right: 0;
}

.crossbar > span {
   font-weight: normal;
   color: #888;
}
.crossbar > span:first-child {
   font-weight: bold;
   color: #1a1a1a;
}

.orange .crossbar > span {
   font-weight: normal;
   color: #eee;
}
.orange .crossbar > span:first-child {
   font-weight: bold;
   color: #444444;
}


h1, h2, h3 {
   color: #7c6a00;
}

h3 {
   color: #574b00;
   border-bottom: solid 1px rgba(124,106,0,0.3);
}

h4, h5, h6 {
   color: #574b00;
}


.maincontent {
   width: 90%;
   max-width: 960px;
   margin: 0 auto;
   margin-top: 2em;
}

.maincontent.textpage {
    max-width: 800px;
    padding-left: 5px;
}

.maincontent.textpage p,
.maincontent.textpage dd,
.maincontent.textpage ul,
.maincontent.textpage ol {
    /*margin: 0 0 1em 2em;*/
    width: 100%;
}

.underline {
   text-decoration: underline;
}



/* Community widget styles */

#communityWidget {
   position: fixed;
   top: 5px;
   right: 5px;
   width: 180px;
   height: 38px;
   background-color: #fff;
   z-index: 1000;
   box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
}

#communityWidget.max {
   width: 300px;
   height: 400px;
}


.underDevelopment {
    color: #CA5100;
    font-weight: bold;
}

span.underDevelopment {

}

.sl .underDevelopment {
   border: 1px solid #999;
    padding: 0.2em 0.4em;
}

.underConsideration {

}

.partiallyImplemented {
    color: #007200;

    font-weight: bold;
}

span.partiallyImplemented {

}


#footer {
   width: 95%;
   max-width: 780px;
   margin: 40px auto 1em auto;
   padding: 0.8em 1em 20px 1em;
   border-top: 1px solid #ccc;
   font-size: 13px;
   color: #999;
}


.nav li.external a img {
   width: 12px;
   height: 12px;
   padding: 0;
}


#manifesto img {
   border: 0;
   position: absolute;
   right: 0px;
   top: 41px;
   z-index: 1;
}

@media (max-width: 800px) {
   #manifesto {
      display: none;
   }
}

/* prevent pygments-formatted code from breaking */
[class^="highlight-"],
[class*=" highlight-"] {
   overflow: auto;
   margin-bottom: 2em;
}
.highlight {
   display: table;
}

/* pygments code block shouldn't word wrap, but show overflow on scroll */

div.highlight, table.highlighttable {
   width: 100%;
   margin-left: 0;
   margin: 1em 0 0 0;
}

td.linenos {
   width: 1px;
   padding-top: 10px !important;
}

table.highlighttable td {
   padding-right: 0;
}

.highlighttable .linenos pre {
   font-size: 13px;
   color: #B6B62C;
}

.highlighttable .code pre {
   font-size: 13px;
}

.highlight pre {
   word-wrap: normal;
   margin: 0;
   white-space: pre;
   background-color: #fff;
}

.highlight .hll {
   background-color: #E4E451;
}

.highlight .c {
   font-style: normal;
   font-weight: 300;
}
