/*@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
   font-family: 'Open Sans Light';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
   font-family: 'Play';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/Play-Regular.ttf');
}

@font-face {
   font-family: 'Play Bold';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/Play-Bold.ttf');
}*/

/* Open Sans */
/* not currently used on the Tavendo website, but can be left in
since the browser only downloads the resources on encountering
the font in use */

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Bold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Italic.ttf');
   font-style: italic;
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-BoldItalic.ttf');
   font-style: italic;
   font-weight: bold;
}


/* Play */
@font-face {
   font-family: 'Play';
   src: url('../fonts/Play-Regular.ttf');
}
@font-face {
   font-family: 'Play';

   src: url('../fonts/Play-Bold.ttf');
   font-weight: bold;
}


/* Source Sans Pro */

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Regular.ttf');
   font-weight: normal;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Italic.ttf');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Bold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-BoldItalic.ttf');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Light.ttf');
   font-weight: 300;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-LightItalic.ttf');
   font-weight: 300;
   font-style: italic;
}


/* Segoe UI */
/* define here for used weights & styles so that
font-weight & style declarations work for this + the fallback
web font */

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI');
   font-weight: normal;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Italic');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Bold');
   font-weight: bold;
}
@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Bold Italic');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Light');
   font-weight: 300;
}

/* Montserrat */

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-Regular.ttf');
   font-weight: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-Bold.ttf');
   font-weight: bold;
}


/* CSS part of fix for IE10/WP8 viewport width reporting problem */
/* http://getbootstrap.com/getting-started/#browsers */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   /* color: #666; */
   background-color: #ececec;
   font-family: 'Open Sans', sans-serif;
}

a {
   color: #b59f00;
}

a:visited {
   color: #b59f00;
}

a:hover {
   color: #E4C904;
}



/*
  Vertical centering .. again;)
  http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
 */

/*#viewport {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
}

#main {
  width: 940px;
  height: 800px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#footer {
   margin-top: 100px;
   font-size: 13px;
   color: #999;
}
*/
#footer > a {
   color: #999;
}

#footer > a:visited {
   color: #999;
}


/* Sticky footer styles
-------------------------------------------------- */
/* need to adapt this to a responsive solution */
/* see the one used on the new tavendo website - FIXME */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* The html and body elements cannot have any padding or margin. */
  position: relative;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 90px;
  padding: 0 0 20px 0;
}

/* the page content container */
#container {
    padding: 0 0 57px 0;

    position: relative;
    margin: 0 auto;
    /*width: 960px;*/
    max-width: 960px;
}



/* navbar stylings */

.navbar-brand > span {
   font-size: 21px;
   position: relative;
   top: 2px;
}

.navbar-brand > span > span:first-of-type {
  font-family: 'Play Bold', sans-serif;
  color: rgb(162, 162, 162);
  padding: 0 0 0 6px;
}
.navbar-brand > span > span:last-of-type {
  font-family: 'Play', sans-serif;
  color: rgb(240, 240, 240);
}

#wrap .navbar {
  min-height: 40px;
}

#wrap .navbar-nav > li > a {
  padding: 10px 15px;
}

#wrap .navbar-brand {
    padding: 6px 10px 0 20px;

}

#wrap .nav.navbar-nav .active a {
  color: #FFE000;
}


#wrap .navbar-toggle {
    padding: 5px 6px;

    margin-top: 6px;
    margin-right: 10px;
}

.clearBoth {
   clear: both;
}
.nonDisplay {
   display: none;
}


#crossbarNameHeader {
    width: 123px;

}


/* noscript alert */
noscript {

}

noscript > div {
    width: 80%;

    max-width: 960px;
    margin: 0 auto;
    padding: 13px 33px;
    border: 1px solid rgb(240, 203, 9);
    border-radius: 6px;
    background-color: #F3F0D1;
    font-size: 13px;
}

noscript > div > p {

}


/* display the crossbar.io icon + name correctly formatted */

.crossbarWithIcon {
   position: relative;
   text-decoration: none;
}
.crossbarWithIcon > img {
   width: 1em;
   height: 1em;
   position: relative;
   bottom: 0.1em;
   margin-left: 0.3em;
}

#crossbarLandingHeader > span {
   margin-right: -0.2em;
}

.crossbarLink {
   text-decoration: none;
   padding-right: 0;
   margin-right: 0;
}

.crossbarLink:hover {
   text-decoration: underline;
   color: #6f6f6f;
}

.crossbar {
   font-family: "Play";
   font-size: 1em;
   padding-right: 0;
   margin-right: 0;
}

.crossbar > span {
   font-weight: normal;
   color: #888;
}
.crossbar > span:first-child {
   font-weight: bold;
   color: #1a1a1a;
}

.orange .crossbar > span {
   font-weight: normal;
   color: #eee;
}
.orange .crossbar > span:first-child {
   font-weight: bold;
   color: #444444;
}


/* heading styles */
h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.5em;
}

h3 {
   font-size: 1.2em;
}


.maincontent {
   width: 90%;
   max-width: 960px;
   margin: 0 auto;
}


.underline {
   text-decoration: underline;
}
