#toc {
   margin-bottom: 3em;
}

#toc > li {
   margin-bottom: 0.5em;
   font-size: 120%;
}

.top {
   display: block;
   float: right;
   margin-right: 2em;
   height: 28px;
   width: 40px;
   border-radius: 14px;
   background-color: #7c6a00;
   color: #fff;
   text-align: center;
   vertical-align: middle;
   padding-top: 3px;
   margin-bottom: 1.5em;
   margin-top: 0.5em;
   font-size: 14px;
}

a.top {
   color: #D8D8D8;
}

a.top:visited {
   color: #D8D8D8;
}

a.top:hover {
   background-color: #ad9500;
   color: #fff;
   text-decoration: none;
}

h2 {
   clear: both;
}
