#header {
   margin-top: 43px;
}


#tagline {
   margin-top: -6px;
   margin-bottom: 0.2em;
   font-size: 20px;
   font-family: 'Segoe UI', 'Open Sans', sans-serif;
   font-weight: 300;
}

#followus {
   position: relative;
   top: 4px;
   margin-left: 12px;
}

/*#logo {
   border: 1px solid green;
}*/

.cb_icon {
   width: 80px;
   height: 80px;
   position: relative;
   top: -20px;
   margin-right: 12px;
}

.cb_prefix,
.cb_suffix {
   font-family: 'Play', sans-serif;
   font-size: 72px;
}

.cb_prefix {
   font-weight: bold;
   color: #1a1a1a;
}

.cb_suffix {
   color: #888;
}

@media (max-width: 480px) {
   .cb_icon {
      width: 60px;
      height: 60px;
   }

   .cb_prefix,
   .cb_suffix {
      font-size: 50px;
   }
}

#github {
   width: 132px;
   height: 133px;
   position: absolute;
   top: 41px;
   right: 0px;
   border: 0;

}

/*#github {
   background-image: url('../img/gen/github.png');
}

#github:hover {
   background-image: url('../img/gen/github_highlighted.png');
}*/



/* the below works to switch out SVG for PNG
   using Modernizr, but the rendering quality of
   text at an angle is currently so bad in Chrome
   that PNG is still the better solution
*/
#github {
   background-image: url('../img/gen/github_path.svg');
   -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
   filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));

   z-index: 10; /* otherwise the crossbar log overlays this partially and prevents the hover */
}

#github:hover {
   background-image: url('../img/gen/github_path_highlighted.svg');
   -webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.7));
   filter: svg-drop-shadow;
}

html.no-svg #github {
   background-image: url('../img/gen/github.png');
}

html.no-svg #github:hover {
   background-image: url('../img/gen/github_highlighted.png');
}


@media (max-width: 630px) {
   #github {
      visibility: hidden;
   }

}

#viewport {
   /*min-width: 480px;*/
}

#shortExplainer {
    width: 100%;

    max-width: 754px;
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 0.8em 2em;
    border-radius: 4px;
}

#shortExplainer > p {
    line-height: 1.7em;

}

#main #arch img {
   width: 100%;
}


#crossbarArch {
   /*border: 1px solid red;*/
   /*background-color: red;*/
   width: 100%;
   margin: 0 auto;
}

#crossbarArch > div {
   width: 33%;
   float: left;
   /*border: 1px solid green;*/
   /*background-color: green;*/
}

#crossbarArch > div#archCenter {
   /*border: 1px solid blue;*/
   width: 33%;
   /*background-color: blue;*/
}

/* CSS hack to get scalable container height as a percentage of container width */
/* Container: uses the fact that padding is relative to the Container's width to get the height; */
/* Box: absolute and extends across the entire Container size; */

#crossbarArch .archBoxContainer {
   width: 100%;
   position: relative;
   padding-bottom: 79%;
   /*background-color: grey;*/
}

#crossbarArch .archBoxContainer .archBox {
   position: absolute;
   width: 84%;
   height: 70%;
   /*border: 1px solid pink;*/
   background-color: #fff;
   border-radius: 19px;
   margin: 12% 8%;
   box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.2);
}

#crossbarArch #archCenter .archBoxContainer {
   width: 100%;
   margin: 0;
}

#crossbarArch #archCenter .archCenter {
   background-color: none;
}

#crossbarArch #archCenter .archBoxContainer .archBox {
   /*background-color: #ddd;*/
   width: 100%;
   margin: 56% 0 0 0;
   background-color: inherit;
   box-shadow: none;
}

#crossbarShadowFaker {

}

#crossbarArch #archCenter .archBoxContainer .archBox > img {
   width: 100%;
}

.archBoxContainer {
   text-align: center;
}

/* fallback for IE<9: font size which should be OK for all
desktop viewport widths;*/

h1 {
   font-size: 15px;
}
.archBox > h1 {
   font-size: 2vw;
   color: #999;
   margin-top: 7%;
   margin-bottom: 2%;
}

/* fallback for browsers without viewport unit support */

@media (max-width: 480px) {
   .no-cssvwunit .archBox h1  {
      font-size: 8px;
   }
}

@media (min-width: 481px) {
   .no-cssvwunit .archBox h1  {
      font-size: 12px
   }
}

@media (min-width: 640px) {
   .no-cssvwunit .archBox h1  {
      font-size: 16px;
   }
}



/* set maximum font size, since the
central wrapper does not extend beyond 990px width*/
@media (min-width: 990px) {
   #crossbarArch .archBox > h1 {
      font-size: 23px;
   }
}

#crossbar_arch_android {
   width: 33%;
}
#crossbar_arch_html5 {
   width: 24%;
}
#crossbar_arch_ios {
   width: 29%;
   padding-top: 12%;
}
#crossbar_arch_oracle {
   width: 68%;
}
#crossbar_arch_postgresql {
   width: 62%;
   padding: 4% 0 0 0;
}
#crossbar_arch_arduino {
   width: 35%;
   margin: 0 3% 0 0;
}
#crossbar_arch_raspberry {
   width: 25%;
}
#crossbar_arch_java {
   width: 19%;
   margin: 0 0 0 13%;
}
#crossbar_arch_python {
   width: 48%;
   margin: 4% 0 0 3%;
}
#crossbar_arch_node {
   width: 46%;
   margin: 0 0 0 6%;
}

.archBox > .imgContainer {
    position: relative;
    top: -0.2vw;
}

.archBox > .imgContainer.backend > img {
    float: left;

}





#crossbarNameHomepage {
    width: 354px;

    margin: 1em 0 0 0;
    position: relative;
    bottom: 29px;
}


.centeredLink {
    text-align: center;

    font-size: 20px;
    font-weight: 300;
}

.centeredLink > a,
.centeredLink > a:visited {

}
.centeredLink > a:hover {

}

#contribute {
   margin-top: 2em;
}


/* demoBox formatting */

#demoBox {
   text-align: center;
   margin-top: 0.2em;
}

#demoBox .spacerLine {
   display: inline-block;
   width: 60%;
   height: 2px;
   border-top: 2px solid #D1D1D1;
}

#demoBox h2 {
   font-size: 20px;
   font-family: 'Segoe UI', 'Open Sans', sans-serif;
   font-weight: 300;
   margin-top: 0.5em;
}

.demos_list {
   list-style: none;
   margin: 0 auto;
   min-height: 100px;
   text-align: center;
   /*max-width: 1507px;*/
   max-width: 80%;
   padding: 0;
}

.demos_list > li {
   width: 280px;
   height: 280px;

   position: relative;
   color: #444;
   margin-bottom: 16px;
   margin: 13px 16px 16px;
   padding: 0px;
   display: inline-block;
   text-align: center;
}

.demos_list > li.nonDisplay {
   display: none;
}

.demos_list > li > a {
   display: block;
   /*background-color: #f0f0f0;*/
   /*color: #333;*/
   background-color: #444;
   color: #fff;
   border-radius: 3px;
   border: solid 1px #000;
   padding: 10px 0;
   width: 282px;
   height: 280px;
   margin: 0 auto;
   font-size: 20px;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
}
