.clearboth {
   clear: both;
}

#hiw
{
    /*margin: 0;*/
}


#hiw_architecture, #hiw_c2c, #hiw_pfo, #hiw_cosp
{
   display: inline-block;
   margin: 20px auto 0 auto;
}





#hiw.page_content {
   /*min-width: 480px;*/
}

/*.hiw_illu_right
{
   float:right;
   margin: 1em 0 0 0;
}*/

/*.hiw_para_left
{
   float: left;
   width: auto;
}

.hiw_para_left > p:first-of-type
{
   margin-top: 0;
}

.hiw_para_left.c2c_para
{
   width: 50%;
}

.hiw_para_left.pto_para
{
   width: 25%;}

.hiw_para_left.cosp_left
{
   width: 24%;
}*/


.hiw_codeboxes
{
   clear: both;
   padding: 2em 0 1em;
}

.hiw_codebox
{
   width: 90%;
   margin: 40px auto 40px auto;
   padding: 0;
   font-size: 14px !important;
}

.syntaxhighlighter, .ie.syntaxhighlighter {
   font-family: Consolas, monospace !important;
   font-size: 14px !important;
   padding-top: 12px !important;
   padding-bottom: 12px !important;
   box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.3);
}

.syntaxhighlighter table td.code {
}

/*
   Fix for: https://bitbucket.org/alexg/syntaxhighlighter/issue/177/superfluous-vertical-scrollbars-in-chrome
.syntaxhighlighter { padding-bottom: 1px !important; }
 */
.syntaxhighlighter table td.code .section { padding-bottom: 1px !important; }


#hiw_bottom_spacer
{
   height: 100px;
}


.mixed
{
   width: 100%;
   position: relative;
   color: #fff;
}

.lightgrey_left,
.darkgrey_right
{
   width: 50%;
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 0;
   color: #fff;
}
.lightgrey_left
{
   left: 0;
   background-color: #4D4D4D;
}
.darkgrey_right
{
   right: 0;
   background-color: #1A1A1A;
}




#wsWampExpand
{
   color: #BD9F01;
   cursor: pointer;
   text-align: center;
   margin: 2em 0 0;
}

.wsNoDisplay
{
   display: none;
}

.js .wsNoDisplay
{
   display: block;
}

.js #wsWampContainer
{
   display: none;
}


.lightgrey {
    padding: 10px 0;

    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #c7c7c7;
    background-color: #D8D8D8;
}

.white {
    margin: 41px 0;

    padding: 0 10px;
}

.section img {

}



.section.white.first {
    margin-top: 0;

}

.section img.wamp {
  float: left;
  margin-top: 9px;
}


#hiw_crossbar_components {
/*   min-width: 400px;
   max-width: 960px;*/

   width: 100%;
}



.hiw_illu_textblock {
    float: left;
    width: 40%;
}
.hiw_illu_textblock.narrow {
   width: 35%;
}

.hiw_illu_textblock > h2 {
    margin-top: 0;
    margin-bottom: 1em;
}

.hiw_illu_image {
   float: left;
   width: 59%;
   text-align: center;
   margin: 0 0 0 20px;
}

.hiw_illu_image > img {
   width: 100%;
}

.hiw_illu_image#hiw_architecture_container {
   width: 554px;
}
.hiw_illu_image#hiw_client_to_client_pubsub_container {
   width: 520px;
}
.hiw_illu_image#hiw_publish_from_database_container {
   width: 521px;
}
.hiw_illu_image#hiw_call_stored_procedure_container {
   width: 520px;
}


#hiw .imageSection
{
   padding: 40px 23px 40px 35px;
}




@media (max-width: 990px) {
   .hiw_illu_textblock,
   .hiw_illu_textblock.narrow {
      width: 100%;
      margin-bottom: 20px;
   }

   #wrap #hiw .hiw_illu_image {
      width: 100%;
      max-width: 700px;
      margin-left: 0;
   }

   #hiw .imageSection {
    padding-left: 15px;

   }

   /*#wrap #hiw .hiw_illu_image#hiw_client_to_client_pubsub_container {
      max-width: 400px;
      margin: 0 auto;
   }*/

}


#hiw img {
    display: block;

    margin: 1em auto;
    width: 50%;
}

#hiw #hiw_sa_01 {
}

#hiw #hiw_pubsub {
}

#hiw #hiw_rpc {
    padding-bottom: 2em;
}

#hiw #hiw_webapp {
}

#saContainer {
   position: relative;
   padding-bottom: 88%;
}

#saContainer > img {
   position: absolute;
}

#hiw #hiw_sa_instant {
    width: 44%;

    position: absolute;
    top: 0;
    right: -2%;
}

#hiw #hiw_sa_line {
    width: 53%;

    top: 5%;
    left: 0%;
}

#hiw #hiw_sa_sensor {
    width: 46%;

    bottom: 0;
    left: 20%;
}
